src/Client/WcfTransmitter.Client/Connected Services/BettingLineService/BettingLineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BettingLineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBettingLineService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/BettingLineService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/BettingLineService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/BettingLineService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBettingLineService_GetOutcomes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutcomes" />
  </wsdl:message>
  <wsdl:message name="IBettingLineService_GetOutcomes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutcomesResponse" />
  </wsdl:message>
  <wsdl:message name="IBettingLineService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IBettingLineService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IBettingLineService_Outcomes_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Outcomes" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBettingLineService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetOutcomes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettingLineService/GetOutcomes" message="tns:IBettingLineService_GetOutcomes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettingLineService/GetOutcomesResponse" message="tns:IBettingLineService_GetOutcomes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="Subscribe" message="tns:IBettingLineService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="Unsubscribe" message="tns:IBettingLineService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Outcomes">
      <wsdl:output wsaw:Action="http://tempuri.org/IBettingLineService/Outcomes" message="tns:IBettingLineService_Outcomes_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBettingLineService" type="tns:IBettingLineService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBettingLineService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetOutcomes">
      <soap12:operation soapAction="http://tempuri.org/IBettingLineService/GetOutcomes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Outcomes">
      <soap12:operation soapAction="http://tempuri.org/IBettingLineService/Outcomes" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BettingLineService">
    <wsdl:port name="NetTcpBinding_IBettingLineService" binding="tns:NetTcpBinding_IBettingLineService">
      <soap12:address location="net.tcp://localhost:8734/BettingLineService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/BettingLineService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>