src/Client/WcfTransmitter.Client/Connected Services/BettingLineService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOutcome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Outcome" nillable="true" type="tns:Outcome" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutcome" nillable="true" type="tns:ArrayOfOutcome" />
  <xs:complexType name="Outcome">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Factor" type="xs:float" />
      <xs:element minOccurs="0" name="FactorTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Outcome" nillable="true" type="tns:Outcome" />
</xs:schema>